<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Reporting System - Preview Data</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shared-styles.css') }}">
    <style>
    </style>
</head>
<body>
    <header>
        <h1>Sales Reporting System</h1>
    </header>
    <nav>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="/files">Upload Files</a></li>
            <li><a href="/data_flow">Process Monitor</a></li>            
            <li><a href="/table_data">Data Preview</a></li>
            <li><a href="/visualizations">BI Dashboards</a></li>
            <li><a href="/explore_data">QuickQueryAI</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>
    </nav>
    <div class="container">
        <h2>Data Flow</h2>
        <div class="section">
            <div class="section-header">Pipeline Status</div>
            <p>This section provides real-time status updates on data processing pipelines. </p>
            <div id="pipelineStatus">
                <p>Loading...</p>
            </div>
        </div>
    </div>
    <script>
    function fetchPipelineStatus() {
        const userTimeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;

        fetch(`/pipeline-status?timezone=${userTimeZone}`)
            .then(response => response.json())
            .then(statuses => {
                const statusDiv = document.getElementById('pipelineStatus');
                statusDiv.innerHTML = '';
                for (const [pipeline, data] of Object.entries(statuses)) {
                    const p = document.createElement('p');
                    p.innerHTML = `<strong>${pipeline}:</strong> Status - ${data.Status}, Last Updated - ${data['Last Updated']}`;
                    statusDiv.appendChild(p);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    // Fetch status immediately and then every 30 seconds
    fetchPipelineStatus();
    setInterval(fetchPipelineStatus, 10000);

    </script>
</body>
</html>