<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Reporting System - BI Dashboards</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shared-styles.css') }}">
</head>
<body>
    <header>
        <h1>Sales Reporting System</h1>
    </header>
    <nav>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="/files">Upload Files</a></li>
            <li><a href="/data_flow">Process Monitor</a></li>            
            <li><a href="/table_data">Data Preview</a></li>
            <li><a href="/visualizations">BI Dashboards</a></li>
            <li><a href="/explore_data">QuickQueryAI</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>
    </nav>
    <div class="container wide">
        <h2>BI Dashboards</h2>
        <div class="section">
            <div class="section-header">Visualize Metrics and Trends</div>
            <p>Below is the embedded BI dashboard providing insights into sales reporting metrics.</p>
            <br>
            <iframe title="SalesRepViz_1" src="https://app.powerbi.com/view?r=eyJrIjoiZmFkZTU0YmUtYTJlZi00ZjhmLWE5ZjktYWViYjcxOWJmNWMzIiwidCI6IjYwOTU2ODg0LTEwYWQtNDBmYS04NjNkLTRmMzJjMWUzYTM3YSIsImMiOjF9" allowFullScreen="true"></iframe>
        </div>
    </div>
    <script>
                // JavaScript for mobile menu toggle
        const mobileMenu = document.getElementById('mobile-menu');
        const navList = document.querySelector('.nav-list');

        mobileMenu.addEventListener('click', () => {
            navList.classList.toggle('active');
        });
    </script>
</body>
</html>